<nav class="navbar navbar-dark" style="background-color: #001f3f; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);" class="flex-md-nowrap p-0 navbar-expand-lg fixed-top">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/" style="color: #ffae42; font-weight: bold; font-size: 1.2rem;">
        <img src="/static/img/dashboard.png" class="navbar-logo" style="height: 35px; margin-right: 10px;" /> کنترل پنل
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
        data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="filter: invert(100%);"></span>
    </button>
</nav>
<div class="progress" style="height: 4px; position: fixed; width: 100%; z-index: 10000; background-color: #001f3f;">
  <div class="progress-bar" role="progressbar" style="z-index: 10000; width: 0%; background-color: #ffae42;"></div>
</div>

<br style="clear: both;">
<br style="clear: both;">
