
body {
  background-color: #0d1b2a;
  color: #ffffff;
  font-family: 'Vazir', sans-serif;
}

.navbar, .footer {
  background-color: #0d1b2a !important;
  color: #fff !important;
}

.navbar-brand, .nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: #e09f3e !important;
}

#sidebar-wrapper {
  background-color: #1b263b;
  min-height: 100vh;
}

.sidebar-heading {
  color: #ffffff;
  font-weight: bold;
}

.list-group-item {
  background-color: transparent;
  color: #ffffff;
  border: none;
}

.list-group-item:hover {
  background-color: #e09f3e;
  color: #fff;
}

.card {
  background-color: #1b263b;
  border: none;
  color: #fff;
}

.card h5, .card h3 {
  color: #e09f3e;
}

.btn-primary {
  background-color: #e09f3e;
  border: none;
}

.btn-primary:hover {
  background-color: #f2b262;
}

.btn-success {
  background-color: #198754;
  border: none;
}

.form-control {
  background-color: #32445e;
  border: none;
  color: #fff;
}
